---
- name: Deploy and Configure tuned Profiles
  hosts: all
  become: yes
  gather_facts: yes

  pre_tasks:
    - name: Update package cache
      package:
        update_cache: yes
      when: ansible_os_family == "RedHat"

  roles:
    - tuned_management

  post_tasks:
    - name: Collect system information after tuning
      setup:
        gather_subset:
          - hardware
          - network
      register: post_tuning_facts

    - name: Generate tuning report
      template:
        src: tuning_report.j2
        dest: "/tmp/tuning_report_{{ inventory_hostname }}.txt"
      delegate_to: localhost
