---
- name: Configure Firewalld on Web Servers
  hosts: webservers
  become: yes
  vars:
    web_services:
      - http
      - https
      - ssh
    web_ports:
      - "8080/tcp"
      - "8443/tcp"

  tasks:
    - name: Ensure firewalld is installed
      package:
        name: firewalld
        state: present

    - name: Start and enable firewalld service
      systemd:
        name: firewalld
        state: started
        enabled: yes

    - name: Set default zone to public
      firewalld:
        zone: public
        state: present
        permanent: yes
        immediate: yes

    - name: Configure web server services in public zone
      firewalld:
        service: "{{ item }}"
        zone: public
        permanent: yes
        immediate: yes
        state: enabled
      loop: "{{ web_services }}"

    - name: Configure custom ports for web applications
      firewalld:
        port: "{{ item }}"
        zone: public
        permanent: yes
        immediate: yes
        state: enabled
      loop: "{{ web_ports }}"

    - name: Create custom zone for internal services
      firewalld:
        zone: internal-web
        state: present
        permanent: yes
        immediate: yes

    - name: Configure internal zone with specific services
      firewalld:
        service: "{{ item }}"
        zone: internal-web
        permanent: yes
        immediate: yes
        state: enabled
      loop:
        - ssh
        - mysql

- name: Configure Firewalld on Database Servers
  hosts: dbservers
  become: yes
  vars:
    db_services:
      - ssh
      - mysql
    trusted_sources:
      - "192.168.1.0/24"
      - "10.0.0.0/8"

  tasks:
    - name: Ensure firewalld is installed
      package:
        name: firewalld
        state: present

    - name: Start and enable firewalld service
      systemd:
        name: firewalld
        state: started
        enabled: yes

    - name: Create database zone
      firewalld:
        zone: database
        state: present
        permanent: yes
        immediate: yes

    - name: Configure database services
      firewalld:
        service: "{{ item }}"
        zone: database
        permanent: yes
        immediate: yes
        state: enabled
      loop: "{{ db_services }}"

    - name: Add trusted source networks to database zone
      firewalld:
        source: "{{ item }}"
        zone: database
        permanent: yes
        immediate: yes
        state: enabled
      loop: "{{ trusted_sources }}"

    - name: Set interface to database zone
      firewalld:
        interface: eth0
        zone: database
        permanent: yes
        immediate: yes
        state: enabled
