---
- name: Configure Database Server
  hosts: node2
  become: yes
  vars:
    mysql_root_password: "SecurePass123!"
  tasks:
    - name: Install MariaDB server
      yum:
        name:
          - mariadb-server
          - mariadb
          - python3-PyMySQL
        state: present

    - name: Start and enable MariaDB service
      systemd:
        name: mariadb
        state: started
        enabled: yes

    - name: Set MariaDB root password
      mysql_user:
        name: root
        password: "{{ mysql_root_password }}"
        login_unix_socket: /var/lib/mysql/mysql.sock
        state: present

    - name: Create application database
      mysql_db:
        name: webapp_db
        login_user: root
        login_password: "{{ mysql_root_password }}"
        state: present

    - name: Create database user
      mysql_user:
        name: webapp_user
        password: "WebApp123!"
        priv: "webapp_db.*:ALL"
        login_user: root
        login_password: "{{ mysql_root_password }}"
        state: present
